@font-face {
    font-family: 'MaisonNeueDemi';
         url('https://esteeeeeeee75014.github.io/custom-fonts-tinymce/fonts/MaisonNeueDemi.woff/fonts/MaisonNeueDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MaisonNeueDemi', sans-serif;
}
